<ng-container *ngIf="calendarState$ | async as calendar">
  <ng-container *transloco="let t; read: 'calendar'">
    <!-- Loader -->
    <ng-container *ngIf="!calendar.isInitialized">
      <mat-spinner></mat-spinner>
    </ng-container>

    <!-- Has error -->
    <ng-container *ngIf="calendar.isInitialized && calendar.error">
      <mat-toolbar>{{t('title')}}</mat-toolbar>
      <mat-error>{{calendar.error}}</mat-error>
    </ng-container>

    <!-- Found events -->
    <ng-container *ngIf="calendar.isInitialized && !calendar.error">
      <mat-toolbar>{{t('today')}}</mat-toolbar>
      <mat-list>
        <mat-list-item *ngFor="let event of calendar.events">
          <img matListAvatar *ngIf="event.conference"
               [src]="'assets/images/conference/' + event.conference.type + '.png'" [alt]="event.conference.type"/>
          <h3 matLine>{{event.summary}}</h3>
          <p matLine>
            {{event.start | date: 'shortTime'}} - {{event.end | date: 'shortTime'}}
          </p>
        </mat-list-item>
      </mat-list>

      <mat-toolbar>{{t('tomorrow')}}</mat-toolbar>
      <mat-list>
        <mat-list-item *ngFor="let event of events">
          <img matListAvatar src="..." alt="...">
          <h3 matLine>{{event}}</h3>
          <p matLine>
            10:00 - 10:30
          </p>
        </mat-list-item>
      </mat-list>
    </ng-container>
  </ng-container>
</ng-container>

